<h1>About</h1>
<p>This is the final version of the Depot project for my Web Development I class.</p>

<p>It is a fully functioning website that has incorporated everything that we have gone over in class.</p>
